<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EMSApp</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Data</display-name>
    <servlet-name>Data</servlet-name>
    <servlet-class>Data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Data</servlet-name>
    <url-pattern>/Data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelandUpdate</display-name>
    <servlet-name>DelandUpdate</servlet-name>
    <servlet-class>DelandUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelandUpdate</servlet-name>
    <url-pattern>/DelandUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert</display-name>
    <servlet-name>Insert</servlet-name>
    <servlet-class>Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Select</display-name>
    <servlet-name>Select</servlet-name>
    <servlet-class>Select</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Select</servlet-name>
    <url-pattern>/Select</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
</web-app>