*{
    margin: 0;
    padding: 0;
}
.header{
    margin: 0;
    height: 4vh;
    text-decoration: none;
    color:white;
    background-color: rgba(0, 0, 0, 0.575);
}
.header h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content{
    margin: 2px;
    padding: 13px;
    height: 88.6vh;
    background: url(background.jpg);
    background-size: cover;
    width: 98vw;
    color: aliceblue;
}
.text{
    margin-top: 230px;
    text-align: center;
}
.footer{
    margin: 0;
    padding: 0;
    height: 3vh;
    text-align: center;
    color: black;
    background: rgba(255, 120, 233, 0.726);
}
/* Style the navigation bar links */
.header a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 4px 15px;
    text-decoration: none;
  } 
  /* Right-aligned link */
  .header a.right {
    float: right;
  }
  .header h3 {
    text-align: center;
  }
  /* Active/current link */
/* Change color on hover */
.header a:hover {
    background-color: rgb(204, 202, 202);
    color: rgb(252, 0, 0);
  }